@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-family: 'Montserrat', sans-serif;
}

#wrap_calendar {
  width: 300px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li[class="inactive"] {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: #777;
}

.days li[class="circle"] {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 5px;
  font-size:15px;
  color: #777;
  background-color: #1abc9c;
}

.days li[class="square"] {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: #777;
  background-color: #1abc9c;
}

.days li[class="sunday"] {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: #777;
  background-color: #ef9a9a;
}



.month {
  padding: 30px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}
ul {list-style-type: none;}
* {box-sizing: border-box;}